<h1>Welcome to Appointment Tracker!</h1>

<% if !logged_in? %>
    <%= link_to "Log In", '/login' %>
    <%= link_to "Sign Up", '/signup' %>
    <%= "OmniAuth Login Pending" %>
<% else %>
    <%= display_welcome %>
    <%= display_admin_details %>
<% end %>