<h1>Sign Up!</h1>

<%= form_for @admin do |a| %>
    Username: <%= a.text_field :username %><br><br>
    Password: <%= a.password_field :password %><br><br>
    Email: <%= a.email_field :email %><br><br>
    Name: <%= a.text_field :name %><br><br>
    Employee Id: <%= a.text_field :employee_id %><br><br>

    <%= a.submit %>
<% end %>