<h2>Welcome <%= @admin.name%>!</h2>

<h5>Email: <%= @admin.email %></h5>
<h5>Username: <%= @admin.username %></h5>
<h6>Employee ID: <%= @admin.employee_id %></h6>

<ul>
    <% @admin.patients.each do |patient| %>
        <li>
            <%= patient.last_name %>, <%= patient.first_name %><br>
            <%= patient.age %> years old
        </li>
    <% end %>
</ul>