<%= display_welcome %>
<%= display_admin_details %>

<ul>
    <% @admin.patients.each do |patient| %>
        <li>
            <%= patient.last_name %>, <%= patient.first_name %><br>
            <%= patient.age %> years old
        </li>
    <% end %>
</ul>