<h2><%= @patient.first_name + " " + @patient.last_name %><br><br>
<%= link_to "Edit Patient", edit_patient_path(@patient)


<h5><%= @patient.email %><br><br>

<h5>
    <%= @patient.age %> | <%= @patient.gender %><br><br>
</h5>

<h5>
    Insurance:<br> <%= @patient.insurance %><br><br>

    Allergies:<br> <%= @patient.allergies %><br><br>

    Prescriptions: <br>
    <%= @patient.prescriptions %>
</h5>
