
<h2><%= @patient.first_name + " " + @patient.last_name %><h2><br><br>


<h5>
    <%= @patient.email %><br><br>
    <%= @patient.age %> | <%= @patient.gender %>

    Insurance: <%= @patient.insurance %><br><br>

    Allergies: <%= @patient.allergies %><br><br>

    Prescriptions:
    <%= @patient.prescriptions %><br><br>

    <%= link_to "Edit Patient", edit_patient_path(@patient) %>
</h5>
