

Select a Doctor: <%= d.collection_select :doctor_id, Doctor.all, :id, :last_name, include_blank: true %><br><br>

Select a Patient: <%= d.collection_select :patient_id, Patient.all, :id, :last_name, include_blank: true %><br><br>

<h3>OR Create a New Doctor: </h3>

    <%= d.fields_for :doctor do |d| %>
        First Name: <%= d.text_field :first_name %><br><br>
        Last Name: <%= d.text_field :last_name %><br><br>
        Gender: <%= d.select :gender,options_for_select(["Female", "Male"]), include_blank: true %><br><br>
        Email: <%= d.email_field :email %><br><br>
        Specialty: <%= d.text_field :specialty %><br><br>
    <%= d.hidden_field :admin_id, value: current_admin.id %>
    <% end %>
