<ul>
<% @appointments.order(:date).each do |a| %>
  <li>
    <%= link_to "Dr." + a.doctor.last_name, doctor_path(a.doctor)%>
    appointment with : <%= link_to a.patient.first_name + " " + a.patient.last_name, patient_path(a.patient)%> on: <%= a.date %> | <%= a.time %> created by: <%= a.username %>

  </li><br>
<% end %>
</ul>