<h1>Create a New Appointment</h1>

<%= form_for [@doctor, @appointment] do |d| %>
    Date: <%= d.date_field :date %>
    Time: <%= d.time_field :time %>

    Reason for Visit:<br>
    <%= d.text_area :reason %>

    Vitals:
    Weight: <%= d.text_field :weight %>
    Blood Pressure(Systolic/Diastolic): <%= d.text_field :blood_pressure %>
    Temperature: <%= d.text_field :temperature %>

    Medications: <%= d.text_area :medications %>
    Visit Summary: <%= d.text_area :summary %>

    <% if @doctor %>
        <h4>Dr. <%= @doctor.first_name + " " + @doctor.last_name %>
    <% else %>
        <% render partial: "doctorform" %>
    <% end %>

<%= d.submit %>
<% end %>